/*    html tags       */
body {
  font-family: 'Merriweather', serif;
  text-align: center;
  margin: 0;
}


.huge{font-size: 10rem;}
h1 {
  margin-top: 0;
  font-family: 'Sacramento', cursive;
  font-size: 5.625rem;
  color: #66BFBF;
}

h2 {
  color: #66BFBF;
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  font-weight: normal;
}

h3 {
  color: #0f2043;
  font-family: 'Montserrat', sans-serif;
}

hr {
  margin: 80px auto;
  width: 10%;
  border-top: dotted cadetblue 10px;
  border-bottom: none;
}
a{color: #11999e;
  font-family: 'Montserrat', sans-serif;
  padding: 0 5px;
  text-decoration: none;
}
a:hover{color:#EAF6F6;}
/*             Classes    */
.top {
  background: #34e89e;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #0f3443, #34e89e);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #0f3443, #34e89e);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  position: relative;
  margin: 0;
}

.middle-container {
  margin: 100px 0;
}

.bottom-container{
  background-color: #66BFBF;
  padding: 50px 0 20px;
  width: 100%;
}
.h2 {
  margin-top: 0;
}

.bottom-cloud {
  position: absolute;
  left: 300px;
  bottom: 300px;
}

.top-cloud {
  position: absolute;
  top: 80px;
  right: 200px;
}

.skillpic {
  height: 25%;
  width: 25%;
  float: left;
  margin-right: 30px;
}

.skill-row {
  width: 50%;
  margin: 100px auto;
  text-align: left;
  line-height: 2;
}

.wrapper{
  width: 40%;
  margin: 40px auto;
}

.btn{
  background: #11cdd4;
  background-image: -webkit-linear-gradient(top,#11cdd4,#11999e);
  background-image: -moz-linear-gradient(top,#11cdd4,#11999e);
  background-image: -ms-linear-gradient(top,#11cdd4,#11999e);
  background-image: -o-linear-gradient(top,#11cdd4,#11999e);
  background-image: linear-gradient(to bottom,#11cdd4,#11999e);
  -webkit-border-radius:8;
  -moz-border-radius:8;
  border-radius:8px;
font-family: Arial;
color: #ffffff;
font-size: 20px;
padding: 10px 20px;
text-decoration: none;
}

.btn:hover{
  background: #30e3cb;
  background-image: -webkit-linear-gradient(top,#30e3cb,#2bc4ad);
  background-image: -moz-linear-gradient(top,#30e3cb,#2bc4ad);
  background-image: -ms-linear-gradient(top#30e3cb,#2bc4ad);
  background-image: -o-linear-gradient(top,#30e3cb,#2bc4ad);
  background-image: linear-gradient(to bottom,#30e3cb,#2bc4ad);
text-decoration: none;
}

.copyright{
  color: #EAF6F6;
  font-size: 0.75rem;
  padding: 20px 0;
}

/*       Ids     */
#logo {
  height: 50px;
  left: 5px;
  position: absolute;
  padding: 5px;
}

#pad {
  padding-top: 150px;
  margin-bottom: 0;
}

#dp {
  height: 150px;
  width: 150px;
}
